@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header .logo {
    padding: 24px 0;
  }
  .nav-bar-wrapper {
    align-items: center;
  }
  .header-contacts a {
    color: var(--slate);
  }
  .header-border h2 {
    display: none;
  }
  .header-border h1 {
    display: block;
    margin-bottom: 40px;
  }
  .header-border {
    height: 436px;
    background-size: 100% 100%;
  }
  .nav-bar-menu {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header-contacts {
    display: block;
  }

  .header-contacts {
    display: block;
  }
  .menu-toggle {
    display: none;
  }

  .our-team-block {
    display: flex;
  }
  .customers-list {
    justify-content: space-between;
  }
  .customers-link {
    width: 168px;
  }
  .features-description {
    text-align: left;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .features-item {
    width: 356px;
  }
  .features-item:not(:last-child) {
    margin-bottom: 0;

  }
  .features-item img {
    display: block;
  }
  .our-team-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .our-team-item:not(:last-child) {
    margin-bottom: 0;
  }
  .our-team-item {
    max-width: 264px;
  }
  .customers-list {
    max-width: 552px;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo-container {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .footer-top-container {
    display: flex;
    margin-bottom: 72px;
    width: 100%;
    max-width: 552px;

  }
  .footer-text {
    width: 264px;
  }
  .footer-form-block {
    width: 100%;
    max-width: 552px;
  }
  .footer-form-title {
    text-align: left;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
  }
  .footer-soc-div {
    padding: 0;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .footer-input {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}
